doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title JankyMem
    link(rel='stylesheet', href='/style.css')  
  body
    #timer 60
      button#start Start
    .gameMat
        
    script(src='/vendor/lodash/lodash.js')  
    script(src='/vendor/jquery/dist/jquery.js')
    script(src='/main.js')
    script(src='/models/card.js')
