body {
  // background: url('/images/MK_WP.jpg') no-repeat center center fixed;
  // background-size: cover;
  background-color: black;
  font-family: monospace;
  font-color: white;
}
#cards{
  .card {
    background-color: white;
    display: inline-block;
    margin: 2px;
    padding: 1px;
    width: 160px;
    text-align: center;

    &> div:first-child{
      border: 0px solid black;
      width: 160px;
      height: 220px;
      margin: 0px;
      background-size: cover;
    }

    &> div:nth-child(2){

    }
  }
}
.title {
  font-family: fantasy;
}

#timer{
  color: white;
}

.testcard {
  width: 100px;
  height: 100px;
  border 2px dashed white;
}

///FLIP CSS
/* entire container, keeps perspective */
.flip-container {
  perspective: 1000;
}
  /* flip the pane when hovered */
  .flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
  }

.flip-container, .front, .back {
  width: 320px;
  height: 480px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}
